.experience {
    align-self: center;
    background-color: var(--bg-boxes);
    border-radius: 1.25em;
    height: 21.8125em;
    margin: 2.5em;
    width: 21.75em;
    margin-top: 0;
    margin-bottom: 0;
}