.project__links {
    display: flex;
    justify-content: space-between;
    max-width: 379.367px;
}

.links__container {
    display: flex;
    align-items: center;
}

.link__left {
    margin: 0 1em 0 1em;
}

.link__rigth {
    margin: 0 1em 0 1em;
}