:root {
    --body-bg-color: #22212C;
    --bg-boxes: #302F3D;
    --bg-buttons: #CB92B1;
    --text-color: #837E9F;
}

.projects__header {
    align-items: center;
    background-color: var(--bg-boxes);
    border-radius: 1.25em;
    display: flex;
    height: 5.375em;
    justify-content: space-between;
    padding: 0 1.3em;
    width: 98;
}