:root {
    --body-bg-color: #22212C;
    --bg-boxes: #302F3D;
    --bg-buttons: #CB92B1;
    --text-color: #837E9F;
}

.technology {
    align-self: center;
    background-color: var(--bg-boxes);
    border-radius: 1.25em;
    height: 13em;
    margin: 2.5em;
    width: 21.75em;
}